<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Detail</title>
    <link rel="stylesheet" href="/css/shopdetail.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="icerik">
    <div class="sol">
      <h1>BANDBAJABARAT</h1>
      <h3>{{services.name}}</h3>
      <div class="card">
      <i class="fa fa-address-card"></i>
      <p> {{services.address}}</p>
      </div>
      <div class="card">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <p> {{services.email}}</p>
      </div>
      <div class="card">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p> {{services.phone}}</p>
      </div>
      <div class="para">&#8377 {{services.price}} /-</div>
    </div>
    <div class="sag">
       <div class="onz">
      <div class="tool-tip">{{services.name}}</div>
      </div>
         <img src="/verifieduploads/{{services.shop_image}}" alt="">
    </div>
  </div>
</div>
</body>
</html>